title {
	font-family: 'Arvo', serif;
}

.navbar-header {
	font-family: 'Coda', cursive;
}



.content:before {
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;

	display: block;
	background-image: url("../dhsbackground1.jpg");
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;

	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.content {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 0;
}

label {
	color: black;
}

h1 {
	font-family: 'Arvo', serif;
	color: red;
	text-align: center;
}

h3 {
	font-family: 'Arvo', serif;
	color: black;
	text-align: center;
}

h4 {
	font-family: 'Arvo', serif;
	color: black;
	text-align: center;
}

.about {
	font-family: 'Arvo', serif;
	color: black;
}

.contact {
	font-family: 'Arvo', serif;
	text-align: center;
	color: black;
	position: fixed;
	bottom: 0;
}

.timetable {
	height: 15em;
	margin: 0 auto;
	overflow: hidden;
	width: 20em;
	position: relative;
}


.header {
	color: blue;
	text-align:center;
}

#spimg {
	width: 80vw;
	height: 80vh;
}

#spimg img {
	visibility: hidden;
	max-height: 100%;
	height: auto;
	max-width: 100%;
	position: absolute;
}

#ttimg {
	width: 80vw;
	height: 80vh;
}

#ttimg img {
	visibility: hidden;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	position: absolute;
}

.eebutton {
	background: transparent;
	border: none;
	font-size:0;
	float: right;
	height: 26px;
	width: 150px;
}

#danker {
	height: 300px;
	width: 414px;
	visibility: hidden;
	position: fixed;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content, #caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}

@keyframes zoom {
	from {transform: scale(0.1)}
	to {transform: scale(1)}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%;
	}
}

.textbox {
	width: 300px;
}