title {
	font-family: 'Arvo', serif;
}

h1 {
	font-family: 'Arvo', serif;
	color: red;
	text-align:center;
}

h3 {
	font-family: 'Arvo', serif;
	text-align:center;
}

.header {
	color: blue;
	text-align:center;
}

body {
	background-image:url=("dhsbackground1.jpg");
}

background:
/* top, transparent black, faked with gradient */
linear-gradient(
rgba(0, 0, 0, 0.7),
rgba(0, 0, 0, 0.7)
),
/* bottom, image */
url(http://fc02.deviantart.net/fs71/i/2011/274/6/f/ocean__sky__stars__and_you_by_muddymelly-d4bg1ub.png);
}

